html {
  padding: 0px;
  margin: 0px;
 }

body {
  padding: 0px;
  margin: 0px;
  color: #666;
  font: 14px / 1 helvetica;

}

.header {
  height: 51px;
  background: #f3f3f3; 
  margin: 0px;
  padding: 0px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  padding-left: 20px;
  padding-right: 40px;
 }

.headerContent ul {
    display: flex; 
    list-style: none; 
            }

 li {
     padding: 8px;
 }

.headerContent ul a {
      text-decoration: none;
      color: #1F2123;  
      font-size: 10px / helvetica;
      font-weight: bold;
} 

.headerContent ul a:hover {
      color: #518BC5;
} 

.ImageMaster {
display:flex;
justify-content:center;
flex-wrap: wrap;
margin: 10px;
}     

.ImageGroup {
  position: center;
}
.ImageParent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 0px;
  left: -11px;
}

.TextGroup {
 display: flex;
 justify-content: space-between;
 align-items: center;
 max-width: 430px;
}
.TextGroup ul {
  display: flex; 
  list-style: none; 
  font-size: 15px;
}
.TextGroup li {
 padding: 3px;
 }

.TextGroup ul a {
  text-decoration: none;
  color:#333;  
}
.ImageNumber {
 color: silver;
 font-size: 20px; 
}

